body {
  background-color: rgba(255, 255, 249, 0.678);
}
.video-item {
  display: flex !important;
  align-items: center !important;
}

.video-item.item img {
  max-width: 180px;
}

.label-css,
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 5px 20px #42330469;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 80px;
  margin: 10px;
}
@media only screen and (max-width: 440px) {
  .label-css {
    height: 60px;
  }
}
.text-label {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #ffc000;
}
@media only screen and (max-width: 440px) {
  .text-label {
    font-size: 40px;
  }
}
.search-bar {
  height: 60px;
  box-shadow: 10px 5px 10px #42330433;
}

.form-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.label-search-bar {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-top: 2px;
}
@media only screen and (max-width: 440px) {
  .label-search-bar {
    font-size: 12px;
  }
}
.input-search-bar {
  margin-left: 20px;
  width: 400px;
  height: 30px;
  border: solid 1px;
  border-color: #3a301233;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (max-width: 650px) {
  .input-search-bar {
    width: 200px;
    margin-left: 5px;
  }
}
.input-search-bar:focus {
  outline: none !important;
}
.button-search-bar {
  margin-top: 2px;
  height: 25px;
  margin-left: 10px;
  border: hidden;
  background-color: #ffc000;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}
@media only screen and (max-width: 440px) {
  .button-search-bar {
    font-size: 10px;
    margin-right: 3px;
  }
}
.div-video-item {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #2b230d1e;
}
@media only screen and (max-width: 1038px) {
  .div-video-item {
    width: 200px;
    height: 250px;
  }
}
@media only screen and (max-width: 710px) {
  .div-video-item {
    width: 150px;
    height: 200px;
  }
}
@media only screen and (max-width: 580px) {
  .div-video-item {
    width: 120px;
    height: 150px;
  }
}
@media only screen and (max-width: 440px) {
  .div-video-item {
    width: 100px;
    height: 150px;
  }
}
.img-video-item {
  width: 300px;
  height: 200px;
}
@media only screen and (max-width: 1038px) {
  .img-video-item {
    width: 200px;
    height: 150px;
  }
}
@media only screen and (max-width: 710px) {
  .img-video-item {
    width: 150px;
    height: 100px;
  }
}
@media only screen and (max-width: 580px) {
  .img-video-item {
    width: 120px;
    height: 70px;
  }
}
@media only screen and (max-width: 440px) {
  .img-video-item {
    width: 100px;
    height: 60px;
  }
}
.div-video-snippet {
  height: 150px;
}
.div-video-snippet-text {
  margin: 5px 10px;
  font-size: 12px;
}
@media only screen and (max-width: 580px) {
  .div-video-snippet-text {
    font-size: 10px;
  }
}
@media only screen and (max-width: 440px) {
  .div-video-snippet-text {
    font-size: 8px;
  }
}
